{% include 'core/base.html' %}

<h1><a href="{% url 'core:dish' recipe.dish.id %}">{{ recipe.dish.name }}</a> > {{ recipe.name }}</h1>

<p> {{ recipe.dish.description }} </p>

<h2>Some basic data</h2>

<p>Creator: {{ recipe.creator }}</p>
<p>Published: {{ recipe.pub_date }}</p>
<p>Last edit: {{ recipe.edit_date }}</p>

<h2>Required ingredients</h2>
<ol>
{% for key in ingredients %}
    <li>{{ key }}</li>
{% endfor %}
</ol>

<h2>Instructions</h2>
<ol>
  {% for element in instructions %}
    {% include "core/recipe_step.html" %}
  {% endfor %}
</ol>
