{% extends 'core/base.html' %}

{% block content %}

  <div class="jumbotron">
    <h1>Welcome to cookbook</h1>
    <p>A modern cooking website for citizens of the 21st century. There are currently {{ users }} users registered on this platform.</p>

    <p>Sound good? Great! <a class="btn btn-default" href="{% url 'core:register' %}">Join today</a></p>
  </div>

  <h2>Popular meal types</h2>
  <ul>
  {% for col in collections %}
    <li><a href="{% url 'core:collection' col.id %}">{{ col.name }}</a> (?)</li>
  {% endfor %}
  </ul>


{% endblock %}