.navbar-custom {
    background-color:#7631b2;
    color:#ffffff;
    border-radius:0;
    font-weight: bold;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:black;
}
.navbar-custom .navbar-brand {
    color:#cd96ff !important;
    font-size: 28pt;
}

.navbar-brand a:hover {
  background-color: #cd96ff !important;
}

/* This changes the hover colour for nav items */
ul.nav a:hover {
  color: #000 !important;
  background-color: #cd96ff !important;
}

.navbar-custom {
  background-color:#7631b2;
  color:#ffffff;
  border-radius:0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}