{% include 'core/base.html' %}

<h1>User registration</h1>

<p>It's great that you want to register to cookbook. We will need a little bit of data for you to join our community.</p>
<p>Items printed in <b>bold</b> are required fields</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'core:register' %}" method="post">
{% csrf_token %}

  <label><b>Username: </b></label>          <input type="text" name="username" id="username" /><br />
  <label><b>E-Mail: </b></label>            <input type="email" name="email" id="email" /><br />
  <label><b>Password: </b></label>          <input type="password" name="password" id="password" /><br />
  <label><b>Password Confirm: </b></label>  <input type="password" name="password_confirm" id="password_confirm" /><br />

  <br />
  <label>Name: </label>       <input type="text" name="real_name" id="real_name" /><br />
  <label>Surname: </label>    <input type="text" name="real_surname" id="real_surname" /><br />
  <label>Birthday: </label>   <input type="date" name="birthday" id="birthday" /><br />
  <label>Avatar: </label>     <input type="file" name="avatar" id="avatar" accept="image/*"><br />

  <br />
  <input type="submit" value="Register" />
</form>