{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}

<ul class="breadcrumb">
  <li class="active">Home</li>
  <li class="active">Users</li>
  <li class="active">{{ user.username }}</li>
</ul>

{% if user.id == current_user.id %}
<div class="alert alert-info">
  You seem to be logged in as <strong>{{ user.username }}</strong>. You can edit this profile <span style="display:inline-block; width: 10px;"></span> <a class="btn btn-default btn-sm" href="{% url 'core:profile_edit' current_user.id %}"><small><span class="glyphicon glyphicon-pencil"/></small> Edit profile</a>
</div>
{% endif %}

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">

          <div class="well">
            {% if user.cook.avatar.img %}
            <img class="img-responsive" src="{% static user.cook.avatar.img %}" />
            {% else %}
            <img class="img-responsive" src="{% static 'img/default_user_female.png' %}" />
            {% endif %}
          </div> <!-- /.well -->
        </div> <!-- Avatar column -->

        <div class="col-md-8">

          <h1>{{ user.username }}</h1>

          {% if logged_in %}
          {% if user.id != current_user.id %}
            <a href="#" data-toggle="tooltip" title="Add this user as a friend" class="btn btn-success"><span class="glyphicon glyphicon-plus"/></a><a href="#" data-toggle="tooltip" title="Send a message to this user" class="btn btn-primary"><span class="glyphicon glyphicon-envelope"/></a><a href="#" data-toggle="tooltip" title="Block this user from contacting you" class="btn btn-danger"><span class="glyphicon glyphicon-remove"/></a>
          {% endif %}
          {% endif %}

          <table class="table table-striped"  align="left">
            <tbody>
              <col width="15%">
              <col width="85%">

              {% if user.first_name or user.last_name %}
              <tr>
                <td><b>Real Name</b></td>
                <td>{{user.first_name}} {{user.last_name}}</td>
              </tr>
              {% endif %}

              <tr>
                <td><b>Date joined</b></td>
                <td>{{ user.date_joined }}</td>
              </tr>
              <tr>
                <td><b>Last active</b></td>
                <td>{{ user.last_login }}</td>
              </tr>

              <tr>
                <td><b>Birthday</b></td>
                <td>{{user.cook.birthday}}</td>
              </tr>

              <tr>
                <td><b>Biography</b></td>
                <td>{{ user.cook.biography }}</td>
              </tr>

            </tbody>
          </table>

          <h3>Recipes by this user</h3>
          <ul class="list-group">
          {% for r in recipies %}
            <li class="list-group-item">
              <span class="badge" data-toggle="tooltip" title="Percentage rating of this recipe for it's dish">3%</span>

              <a href="#">{{ r.dish.collection }}</a> <strong>></strong> <a href="#">{{ r.dish }}</a> <strong>></strong> <strong><a href="{% url 'core:recipe' r.id %}">{{ r.name }}</a></strong>
            </li>
          {% endfor %}
          </ul>

        </div> <!-- Data column -->
      </div> <!-- Row -->
    </div> <!-- Panel body -->
  </div> <!-- Panel -->

{% endblock %}

